@media screen and (min-resolution: 2dppx) {
    .head {
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
        url('../img/mainphoto@2x.jpg');
    }
  }