* {
    margin: 0px;
    padding: 0px;
  }
  
html {
    box-sizing: border-box;
  }

ul {
      list-style: none;
  }

a {
    text-decoration: none;
}

.size-container {
    width: 1200px;
    margin: 0 auto;
}

/*NAVIGATION*/

.main-head {
    background-image: url(../img/main-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 24px;
    padding-bottom: 230px;
}

.main-head:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 132px;
}

.main-nav__logo{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;

}

.menuToggle{
    display: none;
    height: 22px;
    width: 34px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menuToggle span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    transition: 0.3s;
}

.menuToggle span:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: inherit;
    border-radius: 3px;
    top: 0;
    left: 0;
}

.menuToggle span:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: inherit;
    border-radius: 3px;
    bottom: 0;
    left: 0;
}

.menuToggle:hover span{
    background-color: #fce38a ;
}

.nav-list{
   display: flex;
   flex-wrap: wrap;
}

.nav-list__item{
    margin-right: 56px;
}

.nav-list__item:last-child{
    margin-right: 0;
}

.nav-list__link {
   font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    transition: linear 200ms;
    position: relative;
}

.nav-list__link::before{
    content: "";
    position:  absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    background-color: #fce38a;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.nav-list__link:hover{
    color: #fce38a;
}

.nav-list__link:hover::before{
    visibility: visible;
    opacity: 1;
}

.nav-buttons{
    display: flex;
    justify-content: space-between;
    max-width: 90px;
    flex-wrap: wrap;
    width: 100%;
}

.nav-buttons__button{
    border: none;
    background: none;
    outline: none;
    transition: 0.3s;
}

.nav-buttons__button svg{
    width: 18px;
    height: 18px;
    fill: white;
    transition: 0.3s;
}

.nav-buttons__button:hover{
    transform: scale(1.7, 1.7);
}

.nav-buttons__button:hover svg{
    fill: #fce38a;
}

.nav-list-wrap{
    max-width: 620px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-title {
    text-align: center;
    margin: 0 auto;
}

.primary {
    max-width: 840px;
    width: 100%;
    font-size: 150px;
    line-height: 142px;
    margin-bottom: 110px;
    margin-top: 229px;
}

.main-title-1{
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    display: block;
}

.main-title-2 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
}

.main-button-form {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: 2px solid #ffffff;

    
    padding: 14px 46px;
}

/*TITLE CONTAINER*/

.title-container {
    padding-top: 127px;
}

.title {
    text-align: center;
}

.title-1 {
    font-family: "Kaushan Script";
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    display: block;
}

.title-1:first-letter {
    text-transform: uppercase;
}

.title-2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: block;
}

.title::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 42px;
}

.services-container {
    margin-top: 111px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-list {
    width: 330px;

}

h3  {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 60px;
    margin-bottom: 20px;

}

p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    padding-left: 60px;
}

.services-list {
    background-repeat: no-repeat;

}

.services-list:nth-child(-n + 3) {
    margin-bottom: 100px;
}

.services-list:nth-child(n + 3) {
    margin-bottom: 92px;
}

.services-list:nth-child(1) {
    background-image: url(../img/icon/alarm.svg);
}

.services-list:nth-child(2) {
    background-image: url(../img/icon/graph.svg);
}

.services-list:nth-child(3) {
    background-image: url(../img/icon/computer.svg);
}

.services-list:nth-child(4) {
    background-image: url(../img/icon/book.svg);
}

.services-list:nth-child(5) {
    background-image: url(../img/icon/home.svg);
}

.services-list:nth-child(6) {
    background-image: url(../img/icon/image.svg);
}

.team-item {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
}

h2  {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    
}

.paragraph {
    text-align: center;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    margin-top: 91px;
}

.text-muted  {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    border: none;
    transition: linear 400ms;
}

.social-button svg {
    display: block;
    width: 35px;
    height: 35px;
    fill:#f38181;
}

.social-button a:hover svg {
    transition: linear 400ms;
    fill: #ffffff;
}
/*
.social-button:nth-child(1) {
    background-image: url(../img/social/facebook.png);
}

.social-button:nth-child(2) {
    background-image: url(../img/social/twitter.png)
}

.social-button:nth-child(3) {
    background-image: url(../img/social/pinterest.png)
}

.social-button:nth-child(4) {
    background-image: url(../img/social/instagram.png)
}*/

.social-button:hover {
    background-color: #f38181;;
    transition: linear 400ms;
}

.overlay {
    position: relative;
    margin-bottom: 31px;
}

.social-container {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.5), rgba(243, 129, 129, 0.5));
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: linear 400ms;
    display: block;
}

.img-overlay {
    font-size: 0px;
}

.social-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.social-button:not(last-child) {
    margin-right: 2px;
}

.team-list-item:hover .social-container {
    visibility: visible;
    opacity: 1;
    transition: linear 400ms;
}

.team-list-item:hover .img-overlay {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0  #95e1d3;
    transition: linear 400ms;
}

/* footer */

.sign {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

.name-des {
    color: #f38181;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #e5e5e5;
    margin-top: 82px;
}

.footer-sign {
    padding: 24px 0px 24px 0px;
}

.form-control {
    width: 230px;
    height: 40px;
      
    box-sizing: border-box; 
}

.footer-form {
    display: flex;
}

input::placeholder {
    color: #cccccc;
    border: 1px solid rgba(231,231,231 0.5)
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400; 
      
    
}


.btn {
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgba(78, 198, 171, 0.5);
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: linear 400ms;
    margin: 0;
}

.btn:hover {
    background-color: rgba(78, 198, 171, 1);
    transition: linear 400ms;
}




































    



















